h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 50px
}


table {
    background: #1a1a97;
    text-align-all: center;
    align-items: center;
    font-size: 50px;
    margin: auto;
    border: 20px black;
}

th, td {
    width: 100px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    padding: 5px
}

button {
    width: 50px;
    height: 40px;
}

Circle {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid #000;
    margin: auto;
    color: #fff;
    text-align: center
}
